:root {
  --carrier-1: #e7007a;   /* H1 · 262Hz · oct 0 · hue 0° */
  --carrier-2: #fd0087;   /* H2 · 523Hz · oct 1 · hue 0° */
  --carrier-3: #009fb3;   /* H3 · 785Hz · oct 1 · hue 211° */
  --carrier-4: #ff4b95;   /* H4 · 1047Hz · oct 2 · hue 0° */
  --carrier-5: #96a500;   /* H5 · 1308Hz · oct 2 · hue 116° */
  --carrier-6: #00adc3;   /* H6 · 1570Hz · oct 2 · hue 211° */
  --carrier-7: #9c82ff;   /* H7 · 1831Hz · oct 2 · hue 291° */
  --carrier-8: #ff6fa3;   /* H8 · 2093Hz · oct 3 · hue 0° */
  --carrier-9: #f28a00;   /* H9 · 2355Hz · oct 3 · hue 61° */
  --carrier-10: #a4b300;   /* H10 · 2616Hz · oct 3 · hue 116° */
  --carrier-11: #00c590;   /* H11 · 2878Hz · oct 3 · hue 165° */
  --carrier-12: #00bcd4;   /* H12 · 3140Hz · oct 3 · hue 211° */
  --carrier-13: #5facff;   /* H13 · 3401Hz · oct 3 · hue 252° */
  --carrier-14: #a895ff;   /* H14 · 3663Hz · oct 3 · hue 291° */
  --carrier-15: #f952ff;   /* H15 · 3924Hz · oct 3 · hue 326° */
  --carrier-16: #ff8bb1;   /* H16 · 4186Hz · oct 4 · hue 0° */
  --carrier-17: #ff937f;   /* H17 · 4448Hz · oct 4 · hue 31° */
  --carrier-18: #ff992d;   /* H18 · 4709Hz · oct 4 · hue 61° */
  --carrier-19: #ddaf00;   /* H19 · 4971Hz · oct 4 · hue 89° */
  --carrier-20: #b1c200;   /* H20 · 5233Hz · oct 4 · hue 116° */
  --carrier-21: #30da00;   /* H21 · 5494Hz · oct 4 · hue 141° */
  --carrier-22: #00d59c;   /* H22 · 5756Hz · oct 4 · hue 165° */
  --carrier-23: #00d0c6;   /* H23 · 6017Hz · oct 4 · hue 188° */
  --carrier-24: #00cbe5;   /* H24 · 6279Hz · oct 4 · hue 211° */
  --carrier-25: #3bc4ff;   /* H25 · 6541Hz · oct 4 · hue 232° */
  --carrier-26: #7cbaff;   /* H26 · 6802Hz · oct 4 · hue 252° */
  --carrier-27: #9bb1ff;   /* H27 · 7064Hz · oct 4 · hue 272° */
  --carrier-28: #b5a7ff;   /* H28 · 7326Hz · oct 4 · hue 291° */
  --carrier-29: #d298ff;   /* H29 · 7587Hz · oct 4 · hue 309° */
  --carrier-30: #fc78ff;   /* H30 · 7849Hz · oct 4 · hue 326° */
  --carrier-31: #ff84d1;   /* H31 · 8110Hz · oct 4 · hue 344° */
  --carrier-32: #ffa4c0;   /* H32 · 8372Hz · oct 5 · hue 0° */
  --carrier-33: #ffa7ac;   /* H33 · 8634Hz · oct 5 · hue 16° */
  --carrier-34: #ffaa99;   /* H34 · 8895Hz · oct 5 · hue 31° */
  --carrier-35: #ffac84;   /* H35 · 9157Hz · oct 5 · hue 47° */
  --carrier-36: #ffaf67;   /* H36 · 9419Hz · oct 5 · hue 61° */
  --carrier-37: #ffb228;   /* H37 · 9680Hz · oct 5 · hue 75° */
  --carrier-38: #eebc00;   /* H38 · 9942Hz · oct 5 · hue 89° */
  --carrier-39: #d9c600;   /* H39 · 10203Hz · oct 5 · hue 103° */
  --carrier-40: #bed000;   /* H40 · 10465Hz · oct 5 · hue 116° */
  --carrier-41: #97dc00;   /* H41 · 10727Hz · oct 5 · hue 129° */
  --carrier-42: #34ea00;   /* H42 · 10988Hz · oct 5 · hue 141° */
  --carrier-43: #00e880;   /* H43 · 11250Hz · oct 5 · hue 153° */
  --carrier-44: #00e5a8;   /* H44 · 11512Hz · oct 5 · hue 165° */
  --carrier-45: #00e2c1;   /* H45 · 11773Hz · oct 5 · hue 177° */
  --carrier-46: #00e0d5;   /* H46 · 12035Hz · oct 5 · hue 188° */
  --carrier-47: #00dde6;   /* H47 · 12296Hz · oct 5 · hue 200° */
  --carrier-48: #00dbf6;   /* H48 · 12558Hz · oct 5 · hue 211° */
  --carrier-49: #46d6ff;   /* H49 · 12820Hz · oct 5 · hue 221° */
  --carrier-50: #70d0ff;   /* H50 · 13081Hz · oct 5 · hue 232° */
  --carrier-51: #87cbff;   /* H51 · 13343Hz · oct 5 · hue 242° */
  --carrier-52: #96c7ff;   /* H52 · 13605Hz · oct 5 · hue 252° */
  --carrier-53: #a3c4ff;   /* H53 · 13866Hz · oct 5 · hue 262° */
  --carrier-54: #aec0ff;   /* H54 · 14128Hz · oct 5 · hue 272° */
  --carrier-55: #b8bcff;   /* H55 · 14389Hz · oct 5 · hue 281° */
  --carrier-56: #c2b8ff;   /* H56 · 14651Hz · oct 5 · hue 291° */
  --carrier-57: #cdb3ff;   /* H57 · 14913Hz · oct 5 · hue 300° */
  --carrier-58: #daadff;   /* H58 · 15174Hz · oct 5 · hue 309° */
  --carrier-59: #e9a5ff;   /* H59 · 15436Hz · oct 5 · hue 318° */
  --carrier-60: #fd97ff;   /* H60 · 15698Hz · oct 5 · hue 326° */
  --carrier-61: #ff9bea;   /* H61 · 15959Hz · oct 5 · hue 335° */
  --carrier-62: #ff9fd9;   /* H62 · 16221Hz · oct 5 · hue 344° */
  --carrier-63: #ffa2cb;   /* H63 · 16482Hz · oct 5 · hue 352° */
  --carrier-64: #ffbbcf;   /* H64 · 16744Hz · oct 6 · hue 0° */
}
